{{define "title"}}About - kdiffin{{end}}

{{define "main"}}
<h1 class="text-[32px] font-semibold leading-tight tracking-[.004em] mb-2 text-heading light:text-heading-light">About</h1>

<div class="mt-4 text-base leading-[1.6] text-body light:text-body-light content-body">
    <p>Hi, I'm kdiffin. I write code.</p>
</div>
{{end}}
