{{define "title"}}Books Archive{{end}}

{{define "main"}}
<section class="mb-8">
  <h1 class="mb-2 text-base font-semibold leading-tight tracking-[.009em]">Books Archive</h1>
  {{template "book_list" .Data.Books}}
</section>
{{end}}
