{{define "title"}}Home{{end}}

{{define "main"}}
<section class="mb-8">
  <h2 class="mb-2 text-base font-semibold leading-tight tracking-[.009em]"><a class="text-heading light:text-heading-light no-underline hover:underline" href="/writing">Writing →</a></h2>
  {{template "entry_list" (limit .Data.WritingEntries 9)}}
</section>

<section class="mb-8">
  <h2 class="mb-2 text-base font-semibold leading-tight tracking-[.009em]"><a class="text-heading light:text-heading-light no-underline hover:underline" href="/micro">Micro →</a></h2>
  {{template "entry_list" (limit .Data.MicroEntries 5)}}
</section>

<section class="mb-8">
  <h2 class="mb-2 text-base font-semibold leading-tight tracking-[.009em]"><a class="text-heading light:text-heading-light no-underline hover:underline" href="/books">Books and Papers →</a></h2>
  {{template "book_list" .Data.Books}}
</section>

{{end}}
