{{define "title"}}Micro - kdiffin{{end}}

{{define "main"}}

<div class="m-0 p-0 mt list-none flex flex-col gap-[20px]">
    {{range .Data.Entries}}
    {{template "micro_card" .}}
    {{end}}
</div>
{{end}}
