{{define "title"}}Projects{{end}}

{{define "main"}}
<section class="mb-8">
  <h1 class="mb-2 text-base font-semibold leading-tight tracking-[.009em]">Projects</h1>
  {{template "entry_list" .Data.Entries}}
</section>
{{end}}
