{{define "title"}}{{title .Data.Section}} tag: {{.Data.Tag}}{{end}}

{{define "main"}}
<section class="mb-8">
  <h1 class="mb-2 text-base font-semibold leading-tight tracking-[.009em]">{{title .Data.Section}} tagged “{{.Data.Tag}}”</h1>
  {{template "entry_list" .Data.Entries}}
</section>
{{end}}
