{{define "title"}}Writing - kdiffin{{end}}

{{define "main"}}
<h1 class="text-[32px] font-semibold leading-tight tracking-[.004em] mb-2 text-heading light:text-heading-light">Writing</h1>
<p>Longer thoughts and essays.</p>

{{if .Data.Entries}}
    {{template "entry_list" .Data.Entries}}
{{else}}
    <p>Nothing here yet.</p>
{{end}}

{{end}}
